@font-face {
    font-family: 'G Centra Book';
    src: url('src/assets/fonts/Gusto Brand Kit (External)-G centra/G centra/G centra-book.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('src/assets/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
body {
    overflow: hidden;
}

.gradient-text-center {
    text-align: left;
    font-size: calc(1.675rem + 1.5vw);
    font-weight: 600;
    color: transparent;
    background-color: #005961;
    background-image: linear-gradient(to top, rgb(91 239 31), rgb(50 137 50));
    -webkit-background-clip: text; 
    background-clip: text; 
    font-family: 'Space Grotesk', sans-serif; 

}


.error {
    color: red;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    padding: 20px;
    max-width: 62%;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 58px;
    border-radius: 20px;
}

.form-container-forget {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 90%; /* Adjusted maximum width */
    width: 90%; /* Occupy 90% of the width */
    margin-bottom: 110px;
    font-family: 'G Centra Book', sans-serif;
    padding-bottom: 0px;
}

.text-top{
    font-size: 13px;
    font-family: 'G Centra Book', sans-serif; 
}

.Email-forget {
    /* margin-bottom: 8px; */
    color: #333;
    font-size: 15px;
}

.input-container-forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'G Centra Book', sans-serif; 

}

.input {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 20px;
    /* border: 1px solid #ccc; */
    background-color: #e3e2e2;
    border-radius: 15px 15px 0 0; /* Apply border radius only to the top corners */
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input:hover{
    background-color: #ece8e8;
}


.input-icon {
    position: absolute;
    top: 51%;
    right: 154px;
    transform: translateY(-50%);
    cursor: pointer;
    padding-bottom: 10px;
    color: grey;
}

.password-input {
    position: relative;
}

.button-forget {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 9px;
    background-color: rgb(44, 153, 129);
    color: #fff;
    cursor: pointer;
    width: 92%;
    margin-left: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'G Centra Book', sans-serif;
    font-size: 18px;    
}

input::placeholder{
    font-size: 13px;
    font-family: 'G Centra Book', sans-serif;
}


#filled-basic-email {
    color: #0a0a0a;
    height: 6px;
    padding: 16px;
}

#filled-basic-password {
    color: #0a0a0a;
    height: 6px;
    padding: 16px;
}

.button-forget:hover {
    background-color: rgb(238, 255, 251);
    border-color: rgb(34, 142, 119);
    color:rgb(34, 142, 119) ;
}

.text{
    font-family: 'G Centra Book', sans-serif; 
}

.back-to-login{
    text-align: center;
    color: #0a8080;
    font-size: 17px;
    margin-left: 105px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.75px;
}

.back-to-login:hover{
    text-decoration: underline;
    cursor: pointer;
}

.forget {
    color: black;
    font-size: 15px;
    padding-right: 55%;
    text-decoration: none;
    font-family: 'G Centra Book', sans-serif; 
}

.forget:hover{
    text-decoration: underline;
    cursor: pointer;
}


.text-center>a {
    text-align: center;
    color: #0a8080;
    font-size: small;
}

.login-secondary {
    padding-top: 15px;
    font-family: 'G Centra Book', sans-serif; 

}

.input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.input-icon i {
    font-size: 1.2rem;
}

.password-input {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding-bottom: 10px;
    color: grey;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left, .right {
    flex: 1;
}

.left {
    background: linear-gradient(to bottom, rgb(15, 179, 144), rgb(5, 70, 5));
    height: 100vh;
}

.right {
    background-color: #f0f0f0;
}

.background-image {
    width: 100%;
    height: 0;
    padding-top: calc(585 / 790* 100%);
    margin-top: -68px;
    background-image: url(/src/assets/images/Revenue-bro.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.animation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 76px;
    font-family: 'G Centra Book', sans-serif; 
}

.word{
    transition: transform 0.3s ease-in-out, z-index 0.3s ease; /* Add transition property */
    position: relative;
    transform-origin: center;
    margin-right: 4px; 
}

.word:hover {
    transform: scale(1.5) translateY(10px) translateX(6px); /* Enlarge and slide down */
    color: #47ef63;
    z-index: 2; 
}

.word:not(:hover) {
    z-index: 1; /* Ensure non-hovered words stay behind */
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
    .card1 {
        width: 90%; /* Adjust card width for smaller screens */
    }
}

@media screen and (max-width: 576px) {
    .card1 {
        width: 100%; /* Adjust card width for smaller screens */
    }

    .forget {
        padding-right: 10%; /* Adjust padding for smaller screens */
    }

    .checkbox {
        margin-bottom: 20px; /* Reduce margin for smaller screens */
    }
}

@media screen and (max-width: 368px) {
    .card1 {
        width: 80%; /* Adjust card width for smaller screens */
    }
}

@media screen and (min-width: 576px) {
    .form-container-forget {
        max-width: 400px; /* Adjusted maximum width for larger screens */
    }
}

@media screen and (min-width: 768px) {
    .form-container-forget {
        max-width: 500px; /* Adjusted maximum width for even larger screens */
    }
}

@media screen and (min-width: 992px) {
    .form-container-forget {
        max-width: 600px; /* Adjusted maximum width for extra-large screens */
    }
}