@font-face {
    font-family: 'G Centra Book';
    src: url('../fonts/G centra/GCentra-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/SpaceGrotesk-Regular.ttf') format('truetype'); /* Adjust the path to your font file */
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden;
}

.gradient-text-center {
    text-align: left;
    font-size: calc(1.675rem + 1.5vw);
    font-weight: 600;
    color: transparent;
    background-color: #005961;
    background-image: linear-gradient(to left, rgb(91 239 31), rgb(50 137 50));
    -webkit-background-clip: text; 
    background-clip: text; 
    font-family: 'Space Grotesk', sans-serif;

}


.error {
    color: red;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 522px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    padding: 20px;
    max-width: 340px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 58px;
    border-radius: 10px;
}

.form-container-forget {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 300px;
    padding-right: 10px;
    padding-bottom: 0;
    margin-top: -130px;
}

.text-top{
    font-size: 13px;
}

.Email {
    margin-bottom: 8px;
    color: #333;
    font-size: small;
}

.input-container-forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.input {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input:focus {
    outline: none;
    border-color: #47ef63;
}

.input-icon {
    position: absolute;
    top: 51%;
    right: 154px;
    transform: translateY(-50%);
    cursor: pointer;
    padding-bottom: 10px;
    color: grey;
}

.password-input {
    position: relative;
}

.button-forget {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #0a8080;
    color: #fff;
    cursor: pointer;
    width: 97%;
    margin-top: 20px;
    margin-bottom: 10px;
}

input::placeholder{
    font-size: 13px;
}


#filled-basic-email {
    color: #0a0a0a;
    height: 6px;
    padding: 16px;
}

#filled-basic-password {
    color: #0a0a0a;
    height: 6px;
    padding: 16px;
}

.button-forget:hover {
    background-color: #005961;
    border-color: #005961;
}

.link-container {
    display: flex;
    align-items: center; 
}

.link {
    margin-right: 10px; 
    font-size: 15px;
}

.text{
    margin-top: 30px;
}

.back-to-login{
    padding-top: 10px;
    text-align: center;
    color: #0a8080;
    font-size: 15px;  
    margin-left: 93px;
}


.forget {
    color: #0a8080;
    font-size: small;
    padding-right: 55%;
}

.checkbox {
    padding-top: 20px;
    margin-bottom: 30px;
    display: flex;
}

input[type="checkbox"] {
    width: 21px;
    height: 17px;
    margin-top: 3px;
}

.text-center>a {
    text-align: center;
    color: #0a8080;
    font-size: small;
}

.login-secondary {
    padding-top: 15px;
}

.input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.input-icon i {
    font-size: 1.2rem;
}

.password-input {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding-bottom: 10px;
    color: grey;
}

.or-divider {
    display: flex;
    align-items: center;
    width: 87%;
}

.divider {
   border: 1px solid #b1adad;
   min-width: 43%;
   margin-bottom: 20px;
}

.or-divider span {
    margin: 0 10px;
    margin-bottom: 20px;
    color: gray;
    font-size: 15px;
}

.google-signin-button {
    width: 87%;
    margin-top: 20px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left, .right {
    flex: 1;
}

.left {
    background: linear-gradient(to bottom, rgb(15, 179, 144), rgb(5, 70, 5));
    height: 100vh;
}

.right {
    background-color: #f0f0f0;
}

.background-image {
    width: 100%;
    height: 0;
    padding-top: calc(585 / 725* 90%);
    margin-top: 0;
    background-image: url(/src/assets/images/Revenue-bro.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 76px;
}

.word {
    display: inline-block;
    transition: transform 0.3s ease, z-index 0.3s ease; /* Add z-index transition */
    position: relative;
    transform-origin: center;
}

.word:hover {
    transform: scale(1.5); /* Scale up the hovered word */
    color: #47ef63;
    z-index: 2; /* Bring hovered word to the front */
}

.word:not(:hover) {
    z-index: 1; /* Ensure non-hovered words stay behind */
}


/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
    .card1 {
        width: 90%; /* Adjust card width for smaller screens */
    }
}

@media screen and (max-width: 576px) {
    .card1 {
        width: 100%; /* Adjust card width for smaller screens */
    }

    .forget {
        padding-right: 10%; /* Adjust padding for smaller screens */
    }

    .checkbox {
        margin-bottom: 20px; /* Reduce margin for smaller screens */
    }
}

@media screen and (max-width: 368px) {
    .card1 {
        width: 80%; /* Adjust card width for smaller screens */
    }
}
