 .container {
    margin-top: 15px;
    margin-right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
    font-size: 0.857143em;
    font-style: inherit;
    line-height: 1.33333;
    font-family: inherit;
    font-weight: 350;
    max-width: 436px;
}

.position{
    padding-bottom: 20px;
}

.form-req {
    display: flex;
    flex-direction: column;
    height: 85%;
    max-width: 450px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.position{
  position: absolute;
  right: 0px;
  top: 0px;
  z-index:20;
}


.header-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-height: 55px;
  background: #f8f8f8;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2), 0 -4px 4px -4px rgba(0, 0, 0, 0.2); 
}

.input-box.error {
  border-color: red;
}


    .footer{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
        background-color: white;
        border-radius: 0px 0px 5px 5px;
    }

  .calender{
    /* width: 99%; */
    width: 235%;
    min-height: 45px;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #e9e8e8;
    border-radius: 4px;
  }

  .fields{
    padding: 0 0 0 5px;
    background: white;
  }

 
  .header-form h3 {
    padding-left: 100px;
    margin: 0;
    font-weight: 200px;
    font-size: 1.25rem; 
  }
  
  .close-icon {
    cursor: pointer;
    margin-right: 10px;
    color: darkslategray;
    height: 16px;
  }
  
  h3 {
    font-size: 25px;
  }
  
  .form-label {
    font-size: 0.857140rem;
    font-style: inherit;
    line-height: 1.33333;
    font-weight: var(--ds-font-weight-semibold, 600);
    display: inline-block;
    margin-top: 15px;
    margin-bottom: var(--ds-space-050, 4px);
    color: var(--ds-text-subtle, #6B778C);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
  
  
  .input-box {
    width: 99%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #e9e8e8;
    border-radius: 4px;
    min-height: 45px;
  }

  .position-input-box{
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #e9e8e8;
    border-radius: 4px;
    min-height: 40px;
    width: 237px;
  }

  .role-input-box{
    margin-top: 10px;
    width: 99.5%;
    padding: 8px;
    /* margin-bottom: 10px; */
    border: 2px solid #e9e8e8;
    border-radius: 4px;
    height: 30px;
    font-size: 13px;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

  .input-with-label {
    display: flex;
    position: relative;
  }
  
  .input-box-duration {
    flex: 1;
    padding-right: 30%;
    padding-left: 10px;
    width: 99%;
    margin-bottom: 10px;
    border: 2px solid #e9e8e8;
    border-radius: 4px;
    min-height: 45px;
  }

  .input-box-request {
    padding-left: 10px;
    width: 99%;
    margin-bottom: 10px;
    border: 2px solid #e9e8e8;
    border-radius: 4px;
    min-height: 45px;
  }
  
  .input-months {
    position: absolute;
    right: 3%;
    font-size: 16px;
    color: black;
    pointer-events: none; 
    padding-top: 11px;
  }
  
  .view-positions {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 20px;
}  
.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
}

  .text-area {
    width: 99%;
    height: 70px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
  }

  .btn-save {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #1b29e7;
    color: #fff;
    cursor: pointer;
    width: 36%;
    margin: 3% 3% 3% 59%;
  }


.input-box:focus,
.calender,
.position-input-box:focus,
.input-box-request,
.role-input-box:focus,
.input-box-duration:focus,
.text-area:focus {
    outline: none;
    border-color: #e9e8e8; 
 
}

.input-box:focus,
.calender:focus,
.position-input-box:focus,
.role-input-box:focus,
.input-box-duration:focus,
.input-box-request:focus,
.text-area:focus {
    border-color: #4A90E2; /* Change this to your desired border color */
}

  
  
  hr {
    border: 1px solid black;
  }
  
  .form-content {
    position: relative;
    height: 500px;
  }
  
  .scrollable-area {
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  body.__className_aaf875 {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 12px; 
}


::-webkit-scrollbar-track {
    background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
    background: #d1cccc; 
}


::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4; 
}

.input-container {
    position: relative;
    min-height: 10px;
    /* background-color: rgb(204, 204, 204) */

}


.input-container .add-icon {
    position: absolute;
    bottom: 91%;
    right: 7px;
    transform: translateY(-50%);
    cursor: pointer;
    height: 16px;
}


.openings{
    position: relative;
    padding-top: 0;
    margin-bottom: 10px;
    border-radius: 8px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    background-color: #f4f0f0;
    width: 94%;
    min-height: 116px;
    margin-top: 13px;
    margin-left: 9px;
    padding: 4px;
}

.openings .form-group {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mof{
    border: 2px solid #e9e8e8;
    border-radius: 4px;
    min-height: 30px;
    position: absolute;
    width: 43.5%;
    bottom: -6px;
    font-size: 12px;
    padding: 5px;
}

.role{
    border: 2px solid #e9e8e8;
    border-radius: 4px;
    min-height: 30px;
    width: 99%;
    font-size: 12px;
    padding: 5px;
    margin-top: -3px;
}

.input-container.form-group.row.p-2.pb-0 {
    padding-bottom: 0;
  }
  
  .input-container.form-group.row.p-2.pb-0 .col {
    padding-bottom: 0;
  }
  
  .input-container.form-group.row.p-2.pb-0 .col:first-child {
    padding-right: 5px; /* Adjust as needed */
  }
  
  .input-container.form-group.row.p-2.pb-0 .col:last-child {
    padding-left: 5px; /* Adjust as needed */
  }
  
  .input-container.form-group.row.p-2.pb-0.pt-0 {
    padding-top: 0;
  }
  
  .input-container.form-group.row.p-2.pb-0.pt-0 .col {
    padding-top: 0;
  }
  
  .input-container.form-group.row.p-2.pb-0.pt-0 .col:first-child {
    padding-right: 5px; /* Adjust as needed */
  }
  
  .input-container.form-group.row.p-2.pb-0.pt-0 .col:last-child {
    padding-left: 5px; /* Adjust as needed */
  }
  



  
  .openings .input-close-icon {
    position: absolute;
    /* bottom: 43%; */
    right: 6px;
    top: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #8d8d8d;
  }
  
  .openings .form-group:not(:last-child) {
    margin-bottom: 10px;
  }
  


.input-close-icon{
    position: absolute;
    bottom: 65%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #8d8d8d;
}

  
  @media screen and (max-width: 600px) {
    form {
      width: 80%;
    }
  }
  