@font-face {
    font-family: 'G Centra Book';
    src: url('src/assets/fonts/Gusto Brand Kit (External)-G centra/G centra/G centra-book.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('src/assets/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'G Centra Medium';
    src: url('src/assets/fonts/Gusto Brand Kit (External)-G centra/G centra/G centra-medium.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden;
    /* font-family: 'G Centra Book', sans-serif;  */
}

.gradient-text-login {
    text-align: center;
    font-size: calc(1.675rem + 1.5vw);
    font-weight: 900;
    color: transparent;
    margin-top: -51px;
    margin-bottom: 25px;
    background-image: linear-gradient(to left, rgb(91 239 31), rgb(50 137 50));
    -webkit-background-clip: text; 
    background-clip: text; 
    font-family: 'Space Grotesk';
}

.error {
    color: red;
}


.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    padding: 20px;
    max-width: 62%;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 58px;
    border-radius: 20px;

}

.form-container-login {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 363px; 
    width: 90%; 
    /* margin: auto;  */
    font-family: 'G Centra Book', sans-serif;
    padding-bottom: 0px;
}

.Email {
    /* margin-bottom: 8px; */
    color: #333;
    font-size: small;
}

.input-container-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 20px;
    /* border: 1px solid #ccc; */
    background-color: #e3e2e2;
    border-radius: 15px 15px 0 0; /* Apply border radius only to the top corners */
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input:hover{
    background-color: #ece8e8;
}


.input-icon {
    position: absolute;
    top: 51%;
    right: 154px;
    transform: translateY(-50%);
    cursor: pointer;
    padding-bottom: 10px;
    color: grey;
}

.password-input {
    position: relative;
}

.button-login {
    padding: 10px;
    padding-top: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(44, 153, 129);
    color: #fff;
    cursor: pointer;
    width: 87%;
    margin-top: 20px;
    margin-bottom: 7px;
    font-family: 'G Centra Book', sans-serif;
    font-size: 13px;
}



.button-login:hover{
    background-color: rgb(238, 255, 251);
    border-color: rgb(34, 142, 119);
    color:rgb(34, 142, 119) ;
}

input::placeholder{
    font-size: 13px;
    font-family: 'G Centra Book', sans-serif;
}

.link-container {
    display: flex;
    align-items: center; 
}

.link {
    margin-right: 10px; 
    font-size: 13px;
    cursor: default;
}

.signup {
    text-align: center;
    color: #0a8080;
    font-size: 14px;
    text-decoration: none;
}

.signup:hover{
    text-decoration: underline;
    cursor: pointer;
}

.login-href {
    color: #0ba871;
    font-size: small;
    padding-right: 155px;
    padding-top: 10px;
    font-family: 'G Centra Book', sans-serif;
    text-decoration: none;
}
.login-href:hover{
    text-decoration: underline;
    cursor: pointer;
}

.checkbox {
    padding-top: 13px;
    margin-bottom: 8px;
    display: flex;
    /* margin-right: 71px; */
    padding-right: 149px;
    gap: 10px;
    font-size: 13px;
    font-family: 'G Centra Book', sans-serif;
}

input[type="checkbox"] {
    width: 17px;
    height: 17px;
    margin-top: -1px;
}


.text-center>a {
    text-align: center;
    color: #0a8080;
    font-size: small;
}

.login-secondary-login {
    padding-top: 7px;
    font-family: 'G Centra Book', sans-serif; 

}

#filled-basic-email {
    color: #0a0a0a;
    height: 6px;
    padding: 16px;
}

#filled-basic-password {
    color: #0a0a0a;
    height: 6px;
    padding: 16px;
}

.input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.input-icon i {
    font-size: 1.2rem;
}

.or-divider {
    display: flex;
    align-items: center;
    width: 87%;
    margin-left: 7px;
}

.divider {
   border: 1.45px solid #b1adad;
   min-width: 43%;
   margin-bottom: 20px;
   font-family: 'G Centra Book', sans-serif; 

}

.or-divider span {
    margin: 0 10px;
    margin-bottom: 20px;
    color: #7b7b7b;
    font-size: 16px;
    font-weight: 600;
}

.google-signin-button {
    border: 1px solid black;
    padding: 5px 15px;
    padding-top: 10px;
    font-family: 'G Centra Book', sans-serif;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    font-size: 13px;
    border-radius: 9px;
    height: 40px;
    width: 87%;
    background-color: white;
}

.google-signin-button .icon {
    margin-left: 60px;
    margin-bottom: 6px;
    width: 20px; 
    height: 20px; 
    background-image: url('/src/assets/images/icons8-google-48.png');
    background-size: cover; 
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Image styles */
.image {
    display: flex;
    height: 100vh;
    width: 100%;   
    /* overflow-y: auto;    */
}

.left, .right {
    flex: 1;
}

.left {
    background: linear-gradient(to bottom, rgb(15, 179, 144), rgb(5, 70, 5));
    height: 100vh;
}

.right {
    background-color: #f0f0f0;
}

.background-image {
    width: 100%;
    height: 100vh;
    padding-top: calc(585 / 790* 100%);
    margin-top: -68px;
    background-image: url(/src/assets/images/Revenue-bro.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.animation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 76px;
    font-family: 'G Centra Book', sans-serif; 
}

.word{
    transition: transform 0.3s ease-in-out, z-index 0.3s ease; /* Add transition property */
    position: relative;
    transform-origin: center;
    margin-right: 4px; 
}

.word:hover {
    transform: scale(1.5) translateY(10px) translateX(6px); /* Enlarge and slide down */
    color: #47ef63;
    z-index: 2; 
}

.word:not(:hover) {
    z-index: 1; /* Ensure non-hovered words stay behind */
}
@media screen and (max-width: 768px) {
    .card1 {
        width: 90%; 
    }
}

@media screen and (max-width: 576px) {
    .card1 {
        width: 100%;
    }

    .forget {
        padding-right: 10%; 
    }

    .checkbox {
        margin-bottom: 20px; 
    }
}

@media screen and (max-width: 368px) {
    .card1 {
        width: 80%; 
    }
}


@media screen and (max-width: 768px) {
    .image {
        flex-direction: column;
        overflow-y: auto;
    }
}  

@media screen and (max-width: 576px) {
    .form-container-login {
        max-width: 100%; /* Occupy full width on smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .login-href {
      padding-right: 170px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .checkbox {
      padding-right: 20px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .google-signin-button {
      width: 100%;
    }
  }
  
