.navbar-brand{
    padding: 7px;
    cursor: pointer;
    color: green;
    margin-bottom: 0;
    padding-left:50px ;
}

.create-button{
    margin-right: 10px;
}
.nav-button{
    margin-right: 10px;
    border: none;
    color: rgb(23, 117, 23);
    text-decoration: none;
}
.nav-button:hover{
    margin-right: 10px;
    border: none;
    background:none;
    color: rgb(13, 206, 13);
    cursor: pointer;
}
.load{
    display: flex;

    width: 70vw;
    
}
/* li{
    margin-left: 30px;
} */
.navbar {
    background-color:rgb(207, 207, 206);
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
}


.navbar-nav {
    display: contents;
  
}


@media screen and (max-width: 810px) {
    .navbar-nav {

   width: 100px;
    }
}